html {
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
  }

desc{
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 40, 20);
    color: greenyellow;
  }
