html {
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: greenyellow;
  }

desc{
    text-align: center;
}

p{
    border-style: solid;
    border-color: aquamarine;
    padding: 4px;
  }

 /* Games Picture */
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 30%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27a75b95;
  overflow: hidden;
  width: 30%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

  footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 40, 20);
    color: greenyellow;
  }