
  body {
    margin: 0;
    background-color: #000A22;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .description {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    text-align: center;
    font-weight: 600;
  }
  /* btn-3 */

.btn-3 {
  scale: 1.2;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 24px 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  margin-left: 40rem;
  margin-right: 20rem;
}

.btn-3 .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.btn-3:hover {
  background-color: #8f44fd;
}

.btn-3:hover .button__icon-wrapper {
  color: #8f44fd;
}

.btn-3 .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.btn-3:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.btn-3:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}